* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
}

.container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: center; */
  gap: 40px;
}

.card {
  background-color: #222;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  width: 300px;
  min-height: 300px;
  padding: 20px;
  text-align: center;
}

.card h2 {
  margin-bottom: 10px;
  background: transparent;
}

.card p {
  margin: 15px 0;
  background: transparent;
}

.card button {
  padding: 10px 20px;
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background-color: white;
  color: black;
}